* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}

body {
    color: #4D5B9E;
    background-color: #f5f7fb;
}

main {
    width: 75%;
    margin: 0 auto;
}

h1 {
    color: #293264;
}
hr {
    margin: 2rem 0;
}

.intro-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-container p {
    margin: 1em 0 2em 0;
}
.start-btn,
.end-btn {
    width: 193px;
    height: 52px;
    border-radius: 15px;
    color: white;
    background-color: #4d5b9e;
    border: none;
    font-size: 16px;
}

.end-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.end-section h1 {
    margin-right: 10px;
}

.answer-btn {
    width: 95px;
    height: 35px;
    border-radius: 10px;;
    border: 1px solid #4d5b9e;
}

.answer-btn:hover {
    color: white;
    background-color: #4d5b9e;
    cursor: pointer;
}

.selected-btn {
    background-color: #d6dbf5;
    
}

.not-selected-btn,
.correct-btn {
    background-color: #9ad7a4;
}

.error-btn {
    background-color: #f8bcbc;
    opacity: 0.5;

}

.answer-options {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}